@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Light.ttf)
}

@keyframes opening {
    0% {border-left: 0px #FFFFFF solid}
    66% {border-left: 64px #FFFFFF solid}
    100% {border-left: 32px #FFFFFF solid}
}

@keyframes blur {
    50% {background-image: url(/images/marvel_universe.jpg)}
    100% {background-image: url(/images/marvel_universe_blur.jpg)}
}

@keyframes swoop {
    0% {width: 100%; right: 0; color: #000000}
    33% {width: 100%; right: 0; color: #000000}
    66% {width: 100%; right: 0; color: transparent}
    100% {width: 12px; right: 100%}
}

@keyframes swoop2 {
    0% {color: transparent}
    66% {color: transparent}
    67% {color: #FFFFFF}
}

body {
    /* animation: 4s blur; */
    background-color: #000000;
    background-image: url(/images/marvel_universe.jpg);
    background-size: cover;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    margin: 10% 20% 0 20%
}

@media screen and (max-width: 320px) {
    body {
        margin: 10% 4% 0 4%;
    }
}

@keyframes vibrant {
    0% {background-position: 0 0}
    50% {background-position: 100% 100%}
    100% {background-position: 0 0}
}

h1 {
    animation: 26s vibrant ease infinite;
    border: 1px #FFFFFF solid;
    background-image: url(/images/marvel_universe_blur.jpg);
    background-position: 0 0;
    color: #FFFFFFF; 
    display: block;
    padding: 8px; 
    position: relative;
    text-transform: uppercase;
    transform: skew(-11deg, 0)
    
}

h1::before {
    content: "Super Languages"; 
    animation: 2s swoop;
    background-color: #FFFFFF; 
    background-image: url(/images/marvel_logo.jpg);
    background-size: 128px;
    background-position: 256px 100%;
    background-repeat: no-repeat;
    color: transparent;
    width: 12px; 
    height: 100%; 
    margin-top: -8px;
    position: absolute; 
    right: 100%
}

a, button {
    background-color: #FFFFFF;
    box-shadow: 4px 4px #660000;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px;
    padding: 16px
}

a, button {display: inline-block;}

a:hover {
    background-color: #f0141e;
    background-image: url(/images/marvel_universe_blur.jpg);
    color: #FFFFFF;
    box-shadow: 1px 1px #660000;
}

button {border: none; background-color: #000000; color: #FFFFFF}
button:hover {background-color: #770000}

body > div, form {
    border: 1px #FFFFFF solid;
    background-image: url(/images/marvel_universe_blur.jpg);
    /* background-color: #f0141e; */
    background-repeat: no-repeat;
    /* background-size: 128px; */
    background-position: bottom right;
    /* box-shadow: 6px 6px #770000; */
    padding: 16px;
    min-height: 144px;
}
/* 
form {
    background-image: url(/images/marvel_logo.jpg)
} */
/* form::before {content: ""; position: absolute; left: 4px; right: 4px; width: 100%; height: 100%} */

input {
    background-color: #EFEFEF;
    border: none;
    box-shadow: 4px 4px #660000;
    color: #000000;
    display: inline-block; 
    margin: 4px;
    text-decoration: none;
    padding: 16px;
}

@keyframes fill {
    0% {transform: translateX(-10%) skew(-11deg, 0)}
    100% {transform: translateX(0) skew(-11deg, 0)}
}

progress {
    animation: 1s fill;
    width: 100%;
    border: 0;
    margin-top: 16px;
    background: #444444;
    background-image: url(/images/marvel_universe_blur.jpg);
    background-size: cover;
    transform: skew(-11deg, 0);
    margin: 16px 8px;
}

progress::after {
    content: attr(value) "% finished";
    display: block;
}

progress::-moz-progress-bar {
    animation: 1s fill;
    background: #FFFFFF;
    position: relative;
    bottom: 6px;
    right: 6px;
    -moz-transform: scale(1);
    -moz-transition: 1s width;
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {
    -webkit-animation: 1s fill;
    position: relative;
    bottom: 6px;
    right: 6px;
    background: #FFFFFF;
    -webkit-transform: scale(1);
    -webkit-transition: 1s width;
}
progress::progress-value {
    animation: 1s fill;
    position: relative;
    bottom: 4px;
    right: 4px;
    background: #FFFFFF;
    transform: scale(1);
    transition: 1s width;
}

.sidebar {position: absolute; text-align: right; left: calc(20% - 152px)}
#comic-pic {
    float: left;
    margin: 16px 16px 16px 0;
    box-shadow: 6px 6px #660000;
}
#backlink {
    transform: skew(-11deg, 0);
    position: absolute;
    left: 0;
    top: 0;
}

#backlink::before {content: "< "}

#log-out-button {
    float: right;
}

@keyframes popup {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

#herochat {
    animation: 1s popup;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
}

#herochat:hover::after {
    content: attr(title);
    font-size: 12px;
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    display: block;
    padding: 8px;
    box-shadow: 4px 4px #770000;
    animation: 0.5s popup;
    margin-top: 0px;
    transform: scale(1);
}

.disabled {filter: saturate(0)}
.disabled:hover {
    box-shadow: 4px 4px #660000;
}

@keyframes spawn {
    0% {transform: translateX(40px) scale(0)}
    100% {transform: translateX(0) scale(1)}
}

.sidebar > tbody > tr > td > a {
    animation: 0.4s spawn;
    transform: translateX(0) scale(1);
}

.sidebar > tbody > tr > td > a:focus {
    background-color: #660000;
}

input[type="radio"] {box-shadow: 4px 4px #660000; border-radius: 50%}

#messages { list-style-type: none; margin: 0; padding: 0}
#messages li { padding: 5px 10px; }
#messages li.customer-error { color: red; }
#messages li.customer-message { background-color: transparent; color: #FFFFFF; font-size: 16px; }
#messages li.customer-message::before { content: "> " }
#messages li:nth-child(odd) { background: transparent }

#chat_input {
    border: none;
    background: transparent;
    /* position: absolute; */
    bottom: 0;
    opacity: 0.1;
}

#chat_input:hover {
    opacity: 1;
}

#chat_input > form {
    border: none;
    background: transparent;
    min-height: 0;
}

#translate_button {
    display: inline-block;
    margin: 16px;
    float: right;
}

input#m {width: 60%}

#user-input-text {
    width: 80%;
}

h1 #log-out-button {
    transform: skew(11deg, 0);
    position: relative;
    left: -10px;
    top: -10px;
}

#translate_button {
    width: 200px;
}

#chat_container {
    overflow-y: scroll;
    height: 320px;
}

@keyframes slide {
    0% {margin-left: -64px; opacity: 0.1}
    100% {margin-left: 0; opacity: 1}
}

div#chat_container > ul > li {
    animation: 1s slide;
}