
@keyframes opening {
    0% {border-left: 0px #FFFFFF solid}
    66% {border-left: 64px #FFFFFF solid}
    100% {border-left: 32px #FFFFFF solid}
}

@keyframes blur {
    50% {background-image: url(/images/marvel_universe.jpg)}
    100% {background-image: url(/images/marvel_universe_blur.jpg)}
}

@keyframes swoop {
    10% {width: 12px; right: 100%}
    66% {width: 100%; right: 12px}
    100% {width: 12px; right: 100%}
}

@keyframes swoop2 {
    0% {color: transparent}
    66% {color: transparent}
    67% {color: #FFFFFF}
}

body {
    /* animation: 4s blur; */
    background-color: #000000;
    background-image: url(/images/marvel_universe.jpg);
    background-size: cover;
    color: #FFFFFF;
    font-family: arial, sans-serif;
    margin: 10% 20% 0 20%
}

@media screen and (max-width: 320px) {
    body {
        margin: 10% 4% 0 4%;
    }
}

h1 {
    /* border-right: 4px #FFFFFF solid;
    border-left: 32px #FFFFFF solid; */
    color: #FFFFFF;
    display: inline-block;
    padding: 8px; 
    position: relative;
    text-transform: uppercase;
    animation: 1s swoop2;
    transform: skew(-11deg, 0)
}

h1::before {
    content: ""; 
    animation: 1s swoop;
    background-color: #FFFFFF; 
    width: 12px; 
    height: 77%; 
    position: absolute; 
    right: 100%
}

a, button {
    background-color: #FFFFFF;
    box-shadow: 4px 4px #660000;
    color: #000000;
    display: inline-block; 
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px;
    padding: 16px
}

a:hover {
    box-shadow: 1px 1px #660000;
}

button {border: none; background-color: #000000; color: #FFFFFF}

body > div, form {
    background-color: #f0141e;
    background-image: url(/images/marvel_logo.jpg);
    background-repeat: no-repeat;
    background-size: 128px;
    background-position: bottom right;
    box-shadow: 6px 6px #770000;
    padding: 16px
}
/* form::before {content: ""; position: absolute; left: 4px; right: 4px; width: 100%; height: 100%} */

input {
    background-color: #EFEFEF;
    border: none;
    box-shadow: 4px 4px #660000;
    color: #000000;
    display: inline-block; 
    margin: 4px;
    text-decoration: none;
    padding: 16px;
}

@keyframes fill {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

progress {
    width: 100%;
    border: 0;
    margin-top: 16px;
    background: #000000;
    transform: skew(-11deg, 0);
}

progress::-moz-progress-bar {
    animation: 1s fill;
    background: #FFFFFF;
    position: relative;
    bottom: 4px;
    right: 4px;
    transform: scale(1);
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {
    animation: 1s fill;
    position: relative;
    bottom: 4px;
    right: 4px;
    background: #FFFFFF;
    transform: scale(1);
}